.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#big_youtube_player {
  width: 85vw;
  height: calc(85vw/1.777777778);
}


.watched p {
  color: gray;
  font-style: italic;
}

.videothumbnail {
  padding-right: 1em;
  margin: 0 0 2em 1em;
}

.videothumbnail h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.videothumbnail img{
  width: 17.7778rem;
  height: 10rem;
  margin-right: 0.5em;
}
