.App {
  text-align: center;
  position: absolute;
  width: 100%;
}

.dark {
  background-color: #142634;
  color: #7E8889;
}

.App-header {
  background-color: #222;
  height: 70px;
  position: fixed;
  width: 100%;
  padding: 20px;
  color: white;
}

.new_content {
  margin-top: 75px;
}

.App-title {
  margin-top: 0;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#big_youtube_player {
  width: 85vw;
  height: calc(85vw / 1.777777778);
}

p {
  font-size: 12px;
  color: #222;
}

.dark p {
    color: #7E8889;
}

.watched p {
  font-style: italic;
}

.dark .watched p {
  font-style: italic;
}

.glyphicon {
  margin-left:0.5rem;
  float: right;
}

.dark .glyphicon {
  color: firebrick;
}

.glyphicon-eye-close {
  color: whitesmoke;
}

.dark .glyphicon-eye-close {
  color: #BDC7C1;
}

.videothumbnail {
  padding-right: 1em;
  margin: 0 0.5em 2em 1em;
  border-bottom: rgb(6, 39, 91) solid 0.05rem;
}

.watched {
  background-color: rgba(0, 0, 0, 0.4);
}

.videothumbnail p {
  overflow: hidden;
}

.videothumbnail h5 {
  margin-top: 0;
}

.videothumbnail img {
  height: 125px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}
